.join_quiz_container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: fixed;
  top: 40%;
  left: 40%;
}

.join_quiz_form_container {
  display: flex;
    flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
  width: 300px;
}


.join_quiz_input_container {
  width: calc(100% - 20px);
  min-height: 2.375rem;
  text-align: center;
  color: rgb(51, 51, 51);
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  margin: 10px;
}

.join_quiz_button_container {
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  text-align: center;
  min-height: 48px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
}


