/* CreateQuizNavbar.css */
.create_quiz_navbar_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-height: 100%;
    margin: 20px;
  }

  .create_quiz_navbar_schedule{
    display: flex;
    flex-direction: column;
  }
  

  
  .create_quiz_navbar_title {
    text-decoration: none;
    color: #343a40; 
    font-size: 1.5rem;
  }
  
  .launch_quiz {
    background-color: #28a745;
    color: #fff; 
    border: 1px solid #218838; 
    padding: 8px 16px;
    cursor: pointer;
  }
  