.register_page_container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .register_page_container h2 {
    margin-bottom: 20px;
  }
  
  .register_form_group {
    margin-bottom: 20px;
  }
  
  .register_label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register_form_control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register_button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .register_button:hover {
    background-color: #0056b3;
  }
  
  .register_p {
    margin-top: 20px;
    text-align: center;
  }
  
  .register_p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register_p a:hover {
    text-decoration: underline;
  }
  