.create_quiz_main_area_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.create_quiz_main_area_inner_container {
  text-align: center;
  margin-bottom: 20px;
}

.create_quiz_main_area_textarea {
  width: 300px;
  height: 100px;
  text-align: center;
}

.create_quiz_main_area_option {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  display: block;
}

.create_quiz_main_area_options {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.sidebar_box {
  margin: 10px;
}
.create_quiz_data{
  margin: 10px;
}
.create_quiz_data input{
  max-width: 100px;
  text-align: center;
}
.sidebar_add_quiz_button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.create_quiz_main_area_sidebar_seperator {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  align-items: center;
}

.create_quiz_filler {
  flex: 1;
}

.create_quiz_inner_filler {
  flex: 1; 
}


.add_quiz_button_delete, .add_quiz_button_save{
  margin: 20px;
}
.create_quiz_main_area_option_correct{
  width: 100px;
}

.create_quiz_main_area_points_container{
  display: flex;
  flex-direction: column;
}
.create_quiz_main_area_points_input{
  margin-right: 20px;
  width: 100px;
  text-align: center;
}