.board {
    text-align: center;
    
}

.board .leaderboard{
    margin: 1em;
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: xxx-large;
    font-weight: bolder;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
    border: 3px solid;
    align-items: center;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-dark);
}

.leaderboard_index{
    margin: 5px;
    margin-left: 15px;
}

.leaderboard_close_button{
    position: fixed;
    top: 20px;
    right: 20px;
}