.heading {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.toolbar__buttons {
  max-height: 10rem;
  display: flex;
  gap: 2rem;
}

.toolbar__buttons__create,
.toolbar__buttons__join {
  min-width: calc(7.5rem - 1rem);
  width: auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  gap: 0.25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700;
  color: #333;
  transition: all 0.2s;
}

Link:-webkit-any-link {
  cursor: pointer;
}

.toolbar__buttons__create img,
.toolbar__buttons__join img {
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 0.125rem;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.landing_page_buttons {
  display: flex;
  background-color: #46178f;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

